In [4]:
import pandas as pd

In [8]:
sd = pd.read_excel("./schedule.xlsx")

In [11]:
sd.head(14)

,EAP WEEK 6,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,Monday,NaN,Tuesday,Wednesday,Thursday,Friday
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,8:10-8:50,Intro to Western Literature - Megan - S105,8:00-8:40,/,US History Class 2 - Megan - S501,Intro to Western Literature - Megan - S105,US History Class 2 - Megan - S501
3,NaN,NaN,American Literature Class 1 - Kate - S302,NaN,AP Macroeconomics Class 1 - Ken - S502,AP Macroeconomics Class 1 - Ken - S502,American Literature Class 1 - Kate - S302,AP Macroeconomics Class 1 - Ken - S502
4,NaN,NaN,Contemporary English Class 1 - Drew - S207,NaN,AP World History Class 2 - Jonaivi - S302,AP World History Class 2 - Jonaivi - S302,Contemporary English Class 1 - Drew - S207,AP World History Class 2 - Jonaivi - S302
5,NaN,NaN,British Literature Class 1 - James - S208,NaN,Business Foundations - Lily - S207,Business Foundations - Lily - S207,British Literature Class 1 - James - S208,Business Foundations - Lily - S207
6,NaN,NaN,AP Calculus AB Class 1 - Lisa - S501,NaN,AP Chemistry Class 1 - Cecelia - S201,AP Chemistry Class 1 - Cecelia - S201,AP Calculus AB Class 1 - Lisa - S501,AP Chemistry Class 1 - Cecelia - S201
7,NaN,NaN,AP Calculus BC Class 1 - Josh - S301,NaN,AP Environmental Science - Stephen Zhou - S403,AP Environmental Science - Stephen Zhou - S403,AP Calculus BC Class 1 - Josh - S301,AP Environmental Science - Stephen Zhou - S403
8,NaN,NaN,Applied Math - Xue Lei - S202,NaN,AP Biology - Fernanda - S404,AP Biology - Fernanda - S404,Applied Math - Xue Lei - S202,AP Biology - Fernanda - S404
9,NaN,NaN,AP Statistics Class 1 - Edward - S402,NaN,AP Computer Science Class 1 - Mr. Li Yutong - ...,AP Computer Science Class 1 - Mr. Li Yutong - ...,AP Statistics Class 1 - Edward - S402,AP Computer Science Class 1 - Mr. Li Yutong - ...
10,NaN,NaN,/,NaN,AP Physics C: E&M - Roger - S208,AP Physics C: E&M - Roger - S208,/,AP Physics C: E&M - Roger - S208
11,2,9:00-9:40,Intro to Western Literature - Megan - S105,8:50-9:30,ACT 1 - ACT Reading - Shane - S302,US History Class 2 - Megan - S501,Intro to Western Literature - Megan - S105,US History Class 2 - Megan - S501
12,NaN,NaN,American Literature Class 1 - Kate - S302,NaN,ACT 2 - ACT Grammar - Serena - S502,AP Macroeconomics Class 1 - Ken - S502,American Literature Class 1 - Kate - S302,AP Macroeconomics Class 1 - Ken - S502
13,NaN,NaN,Contemporary English Class 1 - Drew - S207,NaN,ACT 3 - ACT Science - Stephen - S202,AP World History Class 2 - Jonaivi - S302,Contemporary English Class 1 - Drew - S207,AP World History Class 2 - Jonaivi - S302

In [13]:
sd.iloc[2:11, 2]

2     Intro to Western Literature - Megan - S105
3      American Literature Class 1 - Kate - S302
4     Contemporary English Class 1 - Drew - S207
5      British Literature Class 1 - James - S208
6          AP Calculus AB  Class 1 - Lisa - S501
7          AP Calculus BC  Class 1 - Josh - S301
8                  Applied Math - Xue Lei - S202
9          AP Statistics Class 1 - Edward - S402
10                                             /
Name: Unnamed: 2, dtype: object