In [4]:
import pandas as pd
from icalendar import Calendar, Event

In [2]:
excel = pd.read_excel('schedule.xlsx')

In [3]:
excel

,EAP WEEK 6,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,Monday,NaN,Tuesday,Wednesday,Thursday,Friday
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,8:10-8:50,Intro to Western Literature - Megan - S105,8:00-8:40,/,US History Class 2 - Megan - S501,Intro to Western Literature - Megan - S105,US History Class 2 - Megan - S501
3,NaN,NaN,American Literature Class 1 - Kate - S302,NaN,AP Macroeconomics Class 1 - Ken - S502,AP Macroeconomics Class 1 - Ken - S502,American Literature Class 1 - Kate - S302,AP Macroeconomics Class 1 - Ken - S502
4,NaN,NaN,Contemporary English Class 1 - Drew - S207,NaN,AP World History Class 2 - Jonaivi - S302,AP World History Class 2 - Jonaivi - S302,Contemporary English Class 1 - Drew - S207,AP World History Class 2 - Jonaivi - S302
...,...,...,...,...,...,...,...,...
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,20:40-22:00,AP Calculus BC Class 2 -Robi\nS303,20:40-22:00,AP Calculus BC Class 1-Josh\nS202,AP Physics C: M Roger\nS303,/,NaN
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,AP Calculus BC Class 3 -Jason\nS201,NaN,AP Calculus AB - Lisa\nS303,NaN,NaN,NaN

In [21]:
rows = excel.iloc[:, 0].dropna().index.values.astype(int)

In [51]:
for period in range(9):
    rowstart = rows[period]
    rowend = rows[period+1] - 1
    print('handling {}th period at from position {} to {}'.format(period + 1, rowstart, rowend))
    print(excel.iloc[rowstart : rowend, 2])

handling 1th period at from position 2 to 10
2    Intro to Western Literature - Megan - S105
3     American Literature Class 1 - Kate - S302
4    Contemporary English Class 1 - Drew - S207
5     British Literature Class 1 - James - S208
6         AP Calculus AB  Class 1 - Lisa - S501
7         AP Calculus BC  Class 1 - Josh - S301
8                 Applied Math - Xue Lei - S202
9         AP Statistics Class 1 - Edward - S402
Name: Unnamed: 2, dtype: object
handling 2th period at from position 11 to 19
11    Intro to Western Literature - Megan - S105
12     American Literature Class 1 - Kate - S302
13    Contemporary English Class 1 - Drew - S207
14     British Literature Class 1 - James - S208
15         AP Calculus AB  Class 1 - Lisa - S501
16         AP Calculus BC  Class 1 - Josh - S301
17                 Applied Math - Xue Lei - S202
18         AP Statistics Class 1 - Edward - S402
Name: Unnamed: 2, dtype: object
handling 3th period at from position 20 to 29
20                                                    /
21    Entrepreneurship & Business Planning - Alex - ...
22            AP World History Class 1 - Jonaivi - S202
23                    AP Psychology - Andy Liang - S302
24          Earth Science Class 1 - Stephen Zhou - S201
25               Intermediate Chemistry - Janice - S301
26                   Intermediate Physics - Nico - S501
27               Intermediate Biology - Fernanda - S404
28               AP Physics C: M Class 1 - Roger - S105
Name: Unnamed: 2, dtype: object
handling 4th period at from position 30 to 39
30    AP English Language and composition - Kate - S401
31                              Debating - James - S402
32             Statistics and Probability - Lisa - S301
33              AP Physics C: M  Class 2 - Roger - S303
34                AP Chemistry Class 2 - Cecelia - S202
35                     Biology Honors - Fernanda - S404
36          Earth Science Class 2 - Stephen Zhou - S201
37              AP Macroeconomics Class 2 - Dion - S502
38               AP Macroeconomics Class 3 - Ken - S501
Name: Unnamed: 2, dtype: object
handling 5th period at from position 40 to 50
40    AP English Language and composition - Kate - S401
41                              Debating - James - S402
42             Statistics and Probability - Lisa - S301
43              AP Physics C: M  Class 2 - Roger - S303
44                AP Chemistry Class 2 - Cecelia - S202
45                     Biology Honors - Fernanda - S404
46          Earth Science Class 2 - Stephen Zhou - S201
47              AP Macroeconomics Class 2 - Dion - S502
48               AP Macroeconomics Class 3 - Ken - S501
49    AP Computer Science Class 2 - Mr. Li Yutong - ...
Name: Unnamed: 2, dtype: object
handling 6th period at from position 51 to 59
51         ACT 1 - Chinese -Ms. Fan - S302
52    ACT 2 - ACT Writing - Dorothy - S502
53      ACT 3 - ACT Reading - Shane - S202
54         SAT - SAT 精读 - Catherine - S207
55       TOEFL 2 - Listening - Kris - S301
56       TOEFL 4 - Reading - Hannah - S501
57                                       /
58                                       /
Name: Unnamed: 2, dtype: object
handling 7th period at from position 60 to 68
60                           ACT 1 - P.E
61       ACT 2 - Chinese -Ms. Fan - S502
62    ACT 3 - ACT Reading - Shane - S202
63       SAT - SAT 精读 - Catherine - S207
64                         TOEFL 2 - P.E
65     TOEFL 4 - Reading - Hannah - S501
66                                     /
67                                     /
Name: Unnamed: 2, dtype: object
handling 8th period at from position 69 to 78
69    EAP 1\2\4： 升学指导-S303\nEAP 3\5\6:  Class Meetin...
70                                                  NaN
71                                                  NaN
72                                                  NaN
73                                                  NaN
74                                                  NaN
75                                                  NaN
76                                                  NaN
77                                                  NaN
Name: Unnamed: 2, dtype: object

IndexError: index 9 is out of bounds for axis 0 with size 9